@import "../../styles/variables";
.todosListContainer {
  display: inline-block;
  text-align: left;
}

.todosList {
  margin-top: 0;
  font-size: 16px;
  font-weight: 700;
  color: $brand-color;
  list-style: none;
  padding-left: 0;
}

.todo {
  margin: 1rem 0;
}

.crossout {
  text-decoration: line-through;
}

.taskInput {
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.btnAddTask {
  background: slateblue;
  color: white;
  border: none;
  padding: 0.65rem 1rem;
  font-weight: 700;
  border-radius: 5px;
}
